div
{
display: inline-block;
display: table-cell;
}
h2
{
	color:black;
}
<h2 class=""></h2>
html{
	color:orange;
}

body

{ 
	background-color:blue;



}	
p
{
    color: black;
    background-color: orange;
    
    border-collapse: collapse
    
}

li
{
	background-color: green;

}
ul
{
	background-color:grey;
	list-style-type:none;

}