div
{
display: inline-block;
display: table-cell;	


  
}
#footer {          
    position: relative;
    bottom: 0;
       }


h1
{
	color:black;
	text-align: center;
	
	
}


body                   /*contents text */

{ 
	background-color: #74AFAD;



}	
p
{                        /* control response */
	text-align: center;
	
    color: black;
    background-color: #D9853B;
    padding-bottom: 2px;
    padding-top: 2px;
   	
   	
}

li                       /* different command terminal */
{
	background-color: #ECECEA;
	text-align: center;

}
ul                     /* colonne */
{
	background-color:#558C89
;
	list-style-type:none;
	text-align: center;

}
          /* responsive */

   @media screen and (max-width: 780px)
{
     div
     {
     display: block;
     }
}